.normal {
  width: 100%;
  /*height: 30px;*/
  height: auto;
  /*border-bottom: 1px #a7b1b7 solid;*/
  font-size: 13px;
}

.text {
  width: 33%;
  height: 30px;
  text-align: center;
}

.progress {
  width: 33%;
  height: 30px;

}

.input {
  width: 100%;
}

.value {
  width: 34%;
  height: 30px;
  text-align: center;
}
